

<div class="border p-2">

    <div id="dvEmployeeList">
        <div class="my-2 p-2">
            <div class="w-100 m-auto">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control keyupfilter" id="txtEmployeeIDFilter" placeholder="Emp #">
                            <label for="floatingInput">Emp #:</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-floating">
                            <input type="text" class="form-control keyupfilter" id="txtEmployeeIqamaFilter" placeholder="Iqma #">
                            <label for="floatingInput">Iqama #:</label>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control keyupfilter" id="txtEmployeeNameFilter" placeholder="Name">
                            <label for="floatingInput">Name:</label>
                        </div>
                    </div><div class="col-md-2">
                        <div class="form-floating">
                            <input type="text" class="form-control keyupfilter" id="txtEmployeeArabicNameFilter" placeholder="الاسم">
                            <label for="floatingInput">الاسم:</label>
                        </div>
                    </div>

                    <div class=" col-md-2 text-left">
                        <div class="row my-2">

                            <div class="col-8">Show iqama info</div>
                            <div class="col">
                                <label class="switch"><input type="checkbox" id="chkEmployeeIqamainfo" onclick="ToggleIqamaData()"><div class="slider round"></div></label>
                            </div>
                        </div>
                        <div class="row mb-2">

                            <div class="col-8">Show active employees</div>
                            <div class="col">
                                <label class="switch"><input type="checkbox" checked="checked" id="chkEmployeeOnJobEmployee" onclick="FillEmployeeTable()"><div class="slider round"></div></label>
                            </div>
                        </div>



                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger wrn-btn" onclick="FillEmployeeTable();">Search</button>
                        <button type="button" class="btn btn-success wrn-btn writecontainer" onclick="NewEmployee();">Add Employee</button>

                        <button type="button" class="btn btn-success wrn-btn writecontainer" onclick="ExportEmployeeData();"><i class="fa fa-file-excel-o"></i></button>
                    </div>

                </div>


            </div>

        </div>
        <div class="table-responsive">
            <table id="table"></table>


            <table class="table table-sm table-striped table-hover-warning table-bordered" id="tblEmployeeListTable">
                <thead class="blue">
                    <tr>
                        <th onclick="SortData(this,'id')">Emp #</th>
                        <th onclick="SortData(this,'Name')">Emp Name</th>
                        <th onclick="SortData(this,'ArabicName')">Name/Arabic</th>
                        <th onclick="SortData(this,'Nationality')">Nationality</th>
                        <th onclick="SortData(this,'Iqama')">Iqama</th>
                        <th class="iqamadata" onclick="SortData(this,'Iqama')">Expiry Date</th>

                        <th class="iqamadata" onclick="SortData(this,'Passport')">Passport</th>
                        <th class="iqamadata" onclick="SortData(this,'Passport')">Expiry Date</th>


                        <th onclick="SortData(this,'PhoneNumber')">Phone Number</th>
                        <th onclick="SortData(this,'DataOfBirth')">Age</th>
                        <th onclick="SortData(this,'Company')">Company</th>
                        <th onclick="SortData(this,'Division')">Division</th>
                        <th onclick="SortData(this,'Position')">Position</th>
                        <th onclick="SortData(this,'Supervisor')">Supervisor</th>

                        <th onclick="SortData(this,'HiringDate')">Hiring Date</th>
                        <th class="jobstatus" onclick="SortData(this,'Status')">Status</th>
                        <th class="jobstatus" onclick="SortData(this,'JobLeftDate')">Job Left Date</th>

                        <!--
                        <th onclick="SortData(this,'JobLeftDate')">Job Left Date</th>
                        <th onclick="SortData(this,'ShowInAttendence')" class="employeedata">Sow in Attendence</th>
                        <th onclick="SortData(this,'DeductSalary')" class="employeedata">Is Deduct Salary</th>-->
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tblEmployeeList"></tbody>

            </table>
        </div>
        <div id="dvEmployeePaging"></div>
    </div>
    <div id="dvEditEmplyee" class="d-none writecontainer">
        <form id="frmEmployeeData">
            <div class="row container-fluid">

                <div class="col-lg-5 col-md-12">
                    <div class="row form">
                        <div class="col-4"><label>Emp.NO.</label></div>
                        <div class="col-3"><input type="number" class="form-control form-control-sm" id="txtEmployeeID" data-id="ID" value="0" onblur="FindEmployee(this.value)" /></div>
                        <div class="col-2"><label>Iqama Number</label></div>
                        <div class="col-3"><input type="text" class="form-control form-control-sm" id="txtEmployeeIqama" readonly data-id="Iqama" /></div>


                        <div class="col-4"><label>Name</label></div>
                        <div class="col-8"><input type="text" class="form-control form-control-sm" id="txtEmployeeName" data-id="Name" data-required="true" required data-msg="Please enter name" /></div>
                        <div class="col-4"><label>الاسم</label></div>
                        <div class="col-8"><input type="text" lang="ar" dir="rtl" class="form-control form-control-sm" id="txtEmployeeArabicName" name="ArabicName" data-id="ArabicName" data-required="true" required data-msg="Please enter name in arabic" /></div>
                        <div class="col-4"><label>Nationality</label></div>
                        <div class="col-8">
                            <select class="form-select form-select-sm" list="" id="ddEmployeeNationality" data-id="NationalityID" required data-msg="Please select nationality"></select>
                        </div>
                        <div class="col-4 col-md-4"><label>Gender</label></div>
                        <div class="col-8 col-md-3"><select class="form-select form-select-sm" id="ddEmployeeGender" data-id="Gender" required data-msg="Please select gender"><option value="1">Male</option><option value="2">Female</option></select></div>

                        <div class="col-4 col-md-2"><label>Birth Date:</label></div>
                        <div class="col-8 col-md-3"><input type="text" class="form-control form-control-sm datepicker" id="txtEmployeeDateOfBirth" data-id="DataOfBirth" data-type="date" required data-msg="Please enter date of birth" /></div>

                        <div class="col-4 col-md-4"><label>Martial Status</label></div>
                        <div class="col-8 col-md-2"><select class="form-select form-select-sm" id="ddEmployeeMartialStatus" data-id="MartialStatus" required data-msg="Please select martial status"><option value=""></option><option value="1">Married</option><option value="2"> Single</option><option value="3">Divorced</option><option value="4">Widowed</option></select></div>
                        <div class="col-4 col-md-4"><label>Annual ticket eligibility</label></div>
                        <div class="col-8 col-md-2"><select class="form-select form-select-sm" id="ddEmployeeAnnualTicket" data-id="AnnualTicket"><option value="1">Yes</option><option value="0">No</option></select></div>

                        <div class="col-4"><label>Iqama Issue Date</label></div>
                        <div class="col-3"><input type="text" class="form-control form-control-sm datepicker" id="txtEmployeeIssueDate"  data-type="date" data-id="IqamaIssueDate" /></div>
                        <div class="col-2"><label>Iqama Exp Date</label></div>
                        <div class="col-3"><input type="text" class="form-control form-control-sm datepicker" id="txtIqmaExpiryDate" data-type="date" data-id="IqmaExpiryDate" /></div>



                        <div class="col-4"><label>Religion</label></div>
                        <div class="col-8"><select class="form-select form-select-sm" id="ddEmployeeReligion" data-id="Religion" required data-msg="Please select religion"><option value="1">Muslim</option><option value="2">Non-Muslim</option></select></div>


                        <div class="col-4"><label>Phone Number</label></div>
                        <div class="col-8"><input type="text" class="form-control form-control-sm" id="txtEmployeePhoneNumber" data-id="PhoneNumber" /></div>
                        <div class="col-4"><label>Home Country Phone #</label></div>
                        <div class="col-8"><input type="text" class="form-control form-control-sm" id="txtEmployeeHomeCountryPhoneNumber" data-id="HomePhoneNumber" /></div>
                        <div class="col-4"><label>National Address</label></div>
                        <div class="col-8"><input type="text" class="form-control form-control-sm" id="txtEmployeeAddress" data-id="Address" /></div>

                        <div class="col-4"><label>Physical Location</label></div>
                        <div class="col-8">
                            <select class="form-select form-select-sm" id="txtEmployeeLocation" data-id="Location" required data-min="0" data-msg="Please select location"><option value="Dammam">Dammam</option><option value="Jubail">Jubail</option><option value="-"></option></select>
                        </div>

                        <div class="col-4"><label>Division</label></div>
                        <div class="col-8"><select class="form-select form-select-sm" id="ddEmployeeDivision" data-id="DivisionID" required data-msg="Please select division"></select></div>
                        <div class="col-4"><label>Position</label></div>
                        <div class="col-8"><select class="form-select form-select-sm" id="ddEmployeePosition" data-id="PositionID" required data-msg="Please select position"></select></div>
                        <div class="col-4"><label>Grade</label></div>
                        <div class="col-8"><input type="text" class="form-control form-control-sm" id="txtEmployeeGrade" data-id="Grade" /></div>

                        <div class="col-4"><label>Report To</label></div>
                        <div class="col-8"><select class="form-select form-select-sm" id="ddEmployeeSupervisor" data-id="SupervisorID"></select></div>


                        <div class="col-4"><label>Status</label></div>
                        <div class="col-8"><select class="form-select form-select-sm" id="ddEmployeeStatus" onchange="ShowJobLeft()" data-id="JobStatus">
                            <option value="1">On the Job</option><option value="2">Left the Job</option><option value="0"> </option></select></div>

                        <div class="col-4 jobleftdate"><label>Last Working Date</label></div>
                        <div class="col-8 jobleftdate"><input type="text" class="form-control form-control-sm datepicker" id="txtEmployeeJobLeftDate" data-id="JobLeftDate" data-type="date" /></div>

                        <div class="col-4"><label>Personal Email</label></div>
                        <div class="col-8"><input type="text" class="form-control form-control-sm" id="txtEmployeeAddress" data-id="EmailAddress" required data-msg="Please enter email address" /></div>

                        <div class="col-4"><label>Iqama Profession</label></div>
                        <div class="col-8"><input type="text" class="form-control form-control-sm" id="txtEmployeeIqamaProfession" data-id="IqamaProfession" /></div>

                        <div class="col-4"><label>Emergency Contact Number</label></div>
                        <div class="col-8"><input type="text" class="form-control form-control-sm" id="txtEmployeeEmergencyContact" data-id="EmergencyContactNumber" /></div>


                        <div class="col-4"><label>Emergency Contact Relation</label></div>
                        <div class="col-8"><input type="text" class="form-control form-control-sm" id="txtEmployeeEmergencyRelation" data-id="EmergencyContactRelation" /></div>
                        <div class="col-4"><label>Accommodation Required</label></div>
                        <div class="col-8">
                            <select class="form-select form-select-sm" id="ddAccommodationRequired" name="ddAccommodationRequired" data-id="AccommodationRequired">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                                <option value="2" selected>Select</option>
                            </select>
                        </div>

                        <div class="col-4"><label>Remarks</label></div>
                        <div class="col-8"><textarea cols="5" rows="4" class="form-control form-control-sm" id="txtEmployeeRemark" data-id="Remarks"></textarea></div>
                    </div>

                </div>
                <div class="col-lg-5 col-md-12">

                    <div class="row form">


                        <div class="col-4"><label>GOSI #.</label></div>
                        <div class="col-8"><input type="text" class="form-control form-control-sm" id="txtEmployeeGOSI" data-id="GOSI" /></div>
                        <div class="col-4"><label>Social Insurance #</label></div>
                        <div class="col-8"><input type="text" class="form-control form-control-sm" id="txtEmployeeSocialInsuranceNo" data-id="SocialInsuranceNo" /></div>
                        <div class="col-4"><label>Medical Insurance Class</label></div>
                        <div class="col-8"><select class="form-select form-select-sm" id="ddEmployeeInsuranceClass" data-id="SocialInsuranceClass" required data-msg="Please select insurance class"><option value="1">A</option><option value="2">B</option><option value="3">C</option><option value="4">D</option><option value=""></option></select></div>
                        <div class="col-4"><label>Labour Code#</label></div>
                        <div class="col-8"><input type="text" class="form-control form-control-sm" id="txtEmployeeLabourCode" data-id="LabourCode" /></div>
                        <div class="col-4"><label>Qiwa  Authenticated contract</label></div>
                        <div class="col-8">
                            <input type="text" class="form-control form-control-sm" id="txtQiwaContract" data-id="QiwaContract" />
                        </div>
                            @*<select class="form-select form-select-sm" id="ddQiwaContract" name="ddQiwaContract" data-id="QiwaContract">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                                <option value="2" selected>Select</option>
                            </select>
                        </div>*@



                        <div class="col-4"><label>CR Number</label></div>
                        <div class="col-8">
                            <div class="row">
                                <div class="col"><select type="text" class="form-select form-select-sm" id="ddEmployeeSponsor" data-id="SponsorID" required data-msg="Please select sponsor"></select></div>
                                <div class="col-auto"><a href="javascript:void(0)" onclick="EditSponsorData();" class="ms-2 text-primary"><i class="fa fa-edit"></i></a> <a href="javascript:void(0)" onclick="AddSponsorData()" class="ms-2 text-success"><i class="fa fa-plus-circle"></i></a> </div>
                            </div>

                        </div>


                        <div class="col-4"><label>Source Of Hiring</label></div>
                        <div class="col-8"><select class="form-select form-select-sm" id="ddEmployeeHiringSource" data-id="HiringSource" required data-msg="Please select hiring source"><option value="1">Direct</option>  <option value="3">Vendor</option><option value=""></option></select></div>

                        <div class="col-4 vendor"><label>Vendor</label><a href="javascript:void(0)" onclick="ShowVendorList()" class="ms-2 text-success"><i class="fa fa-plus-circle"></i></a></div>
                        <div class="col-8 vendor">
                            <div class="row">
                                <div class="col"><select class="form-select form-select-sm" id="ddEmployeeHiringVendor" data-id="VendorID" required data-msg="Please select vendor"></select> </div>
                                <div class="col-auto"><a href="javascript:void(0)" onclick="EditVendorData();" class="ms-2 text-primary"><i class="fa fa-edit"></i></a> </div>
                            </div>
                        </div>


                        <div class="col-4"><label>Type of Contract</label></div>
                        <div class="col-8"><select class="form-select form-select-sm" id="ddEmployeeContractType" data-id="ContractType" required data-msg="Please select contract type"><option value="1">Family</option><option value="2">Single</option><option value="0"></option></select></div>

                        <div class="col-4"><label>Number of dependents</label></div>
                        <div class="col-8"><input type="number" class="form-control form-control-sm" id="ddEmployeeNoOfDependent" data-id="NoOfDependent" min="0" max="20" /></div>
                        <div class="col-4 vendor"><label>Hiring Cost</label></div>
                        <div class="col-8 vendor"><input type="text" class="form-control form-control-sm" id="txtEmployeeHiringCost" data-id="HiringCost" /></div>
                        <div class="col-4"><label>Hire Date:</label></div>
                        <div class="col-8"><input type="text" class="form-control form-control-sm datepicker" id="txtEmployeeHiringDate" name="EmployeeHiringDate" data-id="HiringDate" data-type="date" required data-msg="Please enter hiring date" /></div>




                        <div class="col-4"><label>Work Resumption Date</label></div>
                        <div class="col-8"><input type="text" class="form-control form-control-sm datepicker" id="txtEmployeeLastJoiningDate" data-id="LastJoinDate" data-type="date" /></div>
                        <div class="col-4"><label>Vacation Rotation</label></div>
                        <div class="col-8">
                            <select class="form-select form-select-sm" id="txtEmployeeVacationRotation" data-id="VacationRotation" required data-msg="Please vaction rotation">
                                <option value="0"></option>
                                <option value="6">6 Month</option>
                                <option value="12">12 Month</option>
                            </select>

                        </div>


                        <div class="col-4"><label>Last Vacation Date</label></div>
                        <div class="col-8"><input type="text" class="form-control form-control-sm datepicker" id="txtEmployeeLastVacation" data-id="LastVacation" data-type="date" /></div>
                        <div class="col-4"><label>Next Vacation Date</label></div>
                        <div class="col-8"><input type="text" class="form-control form-control-sm datepicker" id="txtEmployeeNextVacation" data-id="NextVacation" data-type="date" /></div>

                        <div class="col-4"><label>Working Hour</label></div>
                        <div class="col-8"><select type="text" class="form-select form-select-sm" id="ddEmployeeWorkInOutTime" data-id="JobTimingID"></select></div>
                        <div class="col-12">
                            deduct salary(late came/early out)
                            <label class="switch"><input type="checkbox" checked="checked" id="chkEmployeeDeductSalary" data-id="DeductSalary"><div class="slider round"></div></label>

                        </div>

                        <div class="col-4"><label>IBAN #</label></div>
                        <div class="col-8"><input type="text" class="form-control form-control-sm datepicker" id="txtEmployeeIBAN" data-id="IBAN" data-type="date" /></div>



                        <select type="text" class="form-select form-select-sm d-none" id="ddEmployeeWorkPortalPermission" data-id="PermissionGroupID"></select>

                        <div class="col text-center">
                            <button class="btn btn-primary btn-lg" onclick="UpdateEmployee()" type="button">Save</button>
                            <button class="btn btn-danger btn-lg" onclick="ResetNav()" type="button">Cancel</button>
                        </div>


                    </div>
                </div>

                <div class="col-lg-2 d-none d-md-block">
                    <img id="imgEmployeePicture" src="" class="img-thumbnail h-25" />
                    <div class="my-2">
                        <label class="custom-file-upload  btn btn-primary">
                            <input type="file" id="txtEmployeePicture" />
                            <i class="fa fa-cloud-upload"></i> Upload Picture
                        </label>
                    </div>
                </div>


            </div>
        </form>
    </div>


    <div class="modal fade" id="dlgVendorList" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="dlgVendorList" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Vendor List</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_PartialVendor")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="SaveVendor()">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="dlgSponsorList" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="dlgSponsorList" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Sponsor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_PartialSponsor")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="SaveSponsor()">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    @Scripts.Render("~/bundles/pagination")
    @Scripts.Render("~/lib/hr/employee")
    @Styles.Render("~/bundles/paginationcss")
}
