<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="position-relative">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="~/Content/images/logo.png" alt="" class="d-inline-block align-text-top">
            </a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" id="navbarHRM" role="button" data-bs-toggle="dropdown" aria-expanded="false">Human Resource</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarHRM">
                            <li><a class="dropdown-item" href="#">TO DO</a></li>
                            <li class="nav-item dropend">
                                <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Employee Management
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Add</a></li>
                                    <li><a class="dropdown-item" href="/Employee/Index">List</a></li>
                                    <li><a class="dropdown-item" href="/Employee/Certificate">Certificates</a></li>
                                    <li><a class="dropdown-item" href="/Employee/Asset">Assets</a></li>
                                    <li><a class="dropdown-item" href="/Employee/ID">ID's</a></li>
                                    <li><a class="dropdown-item" href="/Employee/Family">Family</a></li>
                                    <li><a class="dropdown-item" href="/Employee/FamilyID">Family ID's</a></li>
                                    <li><a class="dropdown-item" href="/Employee/Contract">Contracts</a></li>

                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="#">Employee warning notice</a></li>
                            <li><a class="dropdown-item" href="#">Vacation</a></li>
                            <li><a class="dropdown-item" href="#">Clearance</a></li>
                            <li><a class="dropdown-item" href="#">Joining</a></li>
                            <li><a class="dropdown-item" href="#">Company visitors</a></li>
                            <li><a class="dropdown-item" href="#">Employee travel order</a></li>
                            <li><a class="dropdown-item" href="#">Reports</a></li>
                            <li><a class="dropdown-item" href="#">Employee leave</a></li>
                            <li><a class="dropdown-item" href="#">Travel request</a></li>
                            <li><a class="dropdown-item" href="#">Employee inquiry form</a></li>
                            <li><a class="dropdown-item" href="#">Passport request</a></li>
                            <li><a class="dropdown-item" href="#">Tickets booking</a></li>
                            <li><a class="dropdown-item" href="#">Employee Leave status</a></li>
                            <li><a class="dropdown-item" href="#">Temporary employee</a></li>
                            <li><a class="dropdown-item" href="#">Manual attendenace</a></li>
                            <li><a class="dropdown-item" href="#">Short leaves</a></li>
                            <li><a class="dropdown-item" href="#">Passport and Iqama Handover</a></li>
                            <li><a class="dropdown-item" href="#">Pre-Employment Evaluation</a></li>
                            <li><a class="dropdown-item" href="#">Employee Schedule</a></li>
                            <li><a class="dropdown-item" href="#">Schedule Timing</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" id="navbarUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">User</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarUser">
                            <li><a class="dropdown-item" href="#">Reminder Management</a></li>
                            <li><a class="dropdown-item" href="#">Material Request</a></li>
                            <li><a class="dropdown-item" href="#">Business Contact</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" id="navbarSettings" role="button" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarSettings">
                            <li><a class="dropdown-item" href="/setting/index">Divisions</a></li>
                            <li><a class="dropdown-item" href="/setting/index">Positions</a></li>
                            <li><a class="dropdown-item" href="/setting/index">Companies</a></li>
                            <li><a class="dropdown-item" href="/setting/index">Users</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid body-content">
        <div class="m-2">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>
    <div id="leftmenu">

    </div>

    <div id="spinner"></div>
    <script type="text/javascript">
        var User = { Name: 'demo', ID: 0 };
    </script>
    @Styles.Render("~/bundles/sweetalertcss")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sweetalert")
    @Scripts.Render("~/common")
    @Scripts.Render("~/lib/sidemenu")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datatablecss")

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            $(".datepicker").datepicker({
                autoclose: true,
                todayHighlight: true
            })
            _Int();
        })
    </script>
</body>
</html><!--irfanpk/123-->
